<div class="dashboard-container" [ngClass]="!isSidebarOpen ? 'sidebar-collapsed' : ''">

  <div class="main-content">

    <section class="file-grid">
      <div class="file-card" *ngFor="let file of files">
        <h2>{{ file.name }}</h2>
        <p class="description">{{ file.description }}</p>
        <p class="meta">
          <i class="fa-regular fa-calendar"></i> {{ file.timestamp }}
        </p>
        <p class="meta">
          <i class="fa-solid fa-user"></i> Author: {{ file.author }}
        </p>
        <p class="version">Version: {{ file.version }}</p>
        <p class="status" [ngClass]="file.status.toLowerCase()">{{ file.status }}</p>
        <button>Details</button>
        <button (click)="viewDocument(file.id)">View</button>

      </div>
    </section>
  </div>
</div>



