<div class="parent">
  <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
    <div class="form-container sign-up" >
      <form>
        <h1>Create Account</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>

        <input type="text" placeholder="First Name" [(ngModel)]="signUpObj.firstName" name="firstName">
        <input type="text" placeholder="Last Name" [(ngModel)]="signUpObj.lastName" name="lastName">
        <input type="text" placeholder="Username" [(ngModel)]="signUpObj.username" name="username">
        <input type="password" placeholder="Password" [(ngModel)]="signUpObj.password" name="password">

        <select id="professionSelect" [(ngModel)]="selectedProfession" name="professionSelect" (change)="onProfessionChange($event)">
          <option value="" disabled selected>Select Profession</option>
          <option value="Software Engineer">Software Engineer</option>
          <option value="Team Leader">Team Leader</option>
          <option value="QA Engineer">QA Engineer</option>
          <option value="Senior Engineer">Senior Engineer</option>
          <option value="Tech Lead">Tech Lead</option>
          <option value="Tech Lead">Tech Lead</option>
          <option value="Project Manager">Project Manager</option>
          <option value="HR Lead">HR Lead</option>
          <option value="UX/UI Designer">UX/UI Designer</option>
          <option value="DevOps Engineer">DevOps Engineer</option>
          <option value="DevOps Engineer">DevOps Engineer</option>
          <option value="Business Analyst">Business Analyst</option>
          <option value="Other">Other</option>

        </select>

        <!-- Polje za unos ako je Other -->
        <input *ngIf="selectedProfession === 'Other'"
               type="text"
               placeholder="Enter your profession"
               [(ngModel)]="signUpObj.profession"
               name="professionInput" />

        <!-- Ako nije Other, automatski setujemo signUpObj.profession -->
        <input *ngIf="selectedProfession !== 'Other'"
               type="hidden"
               [(ngModel)]="signUpObj.profession" />

        <select [(ngModel)]="signUpObj.role" name="role">
          <option value="" disabled selected>Select Role</option>
          <option value="Administrator">Administrator</option>
          <option value="Author">Author</option>
          <option value="Reviewer">Reviewer</option>
          <option value="Reviewer">Approver</option>
          <option value="Reviewer">User</option>
        </select>

        <button type="submit" (click)="onRegister()">Sign Up</button>

      </form>
    </div>
    <div class="form-container sign-in" >
      <form>
        <h1>Sign In</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email password</span>
        <input type="email" name="email" [(ngModel)]="loginObj.email" placeholder="Email">
        <input type="password" name="password"   [(ngModel)]="loginObj.password" placeholder="Password">
        <a href="#">→ Forgot Your Password? ←</a>
        <button (click)="onLogin()">Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of the site features</p>
          <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello Colleagues!</h1>
          <p>Register with your personal details to use all of the site features</p>
          <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="snackbar" [class.show]="showSnackbar">{{ snackbarMessage }}</div>
